#inner{
    border-color: red;
    border-style: solid;
    border-width: 1px;
    width: 150px;
    float: left;
    overflow: hidden;
}
.icon{
    float: left;
    cursor: pointer;
}
.main{
    height: 200px;
}