article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
	display: block;
}

audio,canvas,video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden] {
	display: none;
}

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
	overflow: hidden;
}

a:focus {
	outline: thin dotted;
}

a:active,a:hover {
	outline: 0;
}

h1 {
	font-size: 2em;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

code,kbd,pre,samp {
	font-family: monospace, serif;
	font-size: 1em;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

q {
	quotes: "201C" "201D" "2018" "2019";
}

small {
	font-size: 80%;
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

button,input,select,textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}

button,input {
	line-height: normal;
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],html input[disabled] {
	cursor: default;
}

input[type="checkbox"],input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 1em;
}

a {
	text-decoration: none;
}

.ui-page,body.ui-mobile-viewport {
	background: none !important;
}

/*********************************************************************************/

body {
    background: none !important;
    color: #3c454c;
    font-family: 'Open Sans', Arial,sans-serif;
    font-weight: 300;
    font-size: 100%;
}
.header-title {
    position: absolute;
    left: 90px;
    top: 20px;
    height: 40px;
    width: 700px;
    font-size: 24pt;
    padding-top: 10px;
    border-radius: 5px;
    overflow: hidden;
}













#menu {
    width: 70px;
    height: 100%;
    position: absolute;
}
#menu ul {
    list-style: none outside none;
    padding: 0;
}
#container {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right:0px;
    left:0px;
    padding: 10px 45px 40px 90px;

    -ms-overflow-y: scroll;
    overflow-y: scroll;
    overflow: hidden;
    margin: 0 auto;
}
#content {
	position:absolute ;
	top: 101px;
	bottom: 0px;
	left:0px;
	right:0px;
	-ms-overflow-y: scroll;
	overflow-y: scroll;
	margin: 0;
}

#footer{
    margin-top: 35px;
}
.clear{
    clear: both;
}
.menubox{
    position: absolute;
    left: -125px;
    width: 125px;
    height: 100%;
    z-index: 10;
    color: #fff;
    background: #3c454c; /* Old browsers */
    background: -webkit-linear-gradient(top, #3c454c 0%, #2d3439 100%);

    background: -moz-linear-gradient(top, #3c454c 0%, #2d3439 100%);
    background: -o-linear-gradient(top, #3c454c 0%, #2d3439 100%);
    background: -ms-linear-gradient(top, #3c454c 0%, #2d3439 100%);
    background: linear-gradient(top, #3c454c 0%, #2d3439 100%); /* W3C */
    -image  -image -image filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c454c', endColorstr='#2d3439',GradientType=0 ); /* IE6-9 */
}
.menubox > p{
    margin: 15px 0 70px;
    text-align: center;
}
.menubox ul a{
    display: block;
    width: 100%;
    height: 70px;
    background-image: url(../images/icons_mainnav.png);
    background-repeat: no-repeat;
    text-indent: -1000em;
    padding: 10px 0;
}
.menubox .menuDashboard a {
    background-position: 34px 17px;
}

.menubox .menuDashboard a.active,.menubox .menuDashboard a:hover {
    background-position: -124px 9px;
}

.menubox .menuProduction a {
    background-position: 34px -83px;
}

.menubox .menuProduction a.active,.menubox .menuProduction a:hover {
    background-position: -124px -91px;
}

.menubox .menuManagement a {
	background-position: 34px -183px;
}

.menubox .menuManagement a.active,.menubox .menuManagement a:hover {
	background-position: -124px -191px;
}

.menubox .menuReports a {
	background-position: 34px -283px;
}

.menubox .menuReports a.active,.menubox .menuReports a:hover {
	background-position: -124px -291px;
}

.menubox .menuSettings a {
	background-position: 34px -383px;
}

.menubox .menuSettings a.active,.menubox .menuSettings a:hover {
	background-position: -124px -391px;
}

/* BUTTONS ================================================================== */
.button {
    display: block;
    width: 48px;
    height: 48px;
    text-indent: -1000em;
    border: 1px solid #dddddd;
    position: relative;
    z-index: 1;
    cursor: pointer;
    border-radius: 24px;
    background: #ffffff no-repeat 10px 12px; /* Old browsers */
    background: -webkit-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);

    background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
    background: linear-gradient(top, #ffffff 0%, #f0f0f0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, .5);
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, .5);
}

.button:before {
    z-index: 1;
    position: absolute;
    content: "";
}

.buttonNav:before {
    background-image: url(../images/icon_nav.png);
    height: 22px;
    width: 23px;
    left: 10px;
    top: 13px;
}

.buttonSearch:before {
    background-image: url(../images/icon_search.png);
    height: 28px;
    width: 28px;
    left: 10px;
    top: 10px;
}

/* NAVIGATION ================================================================== */
#buttonNav {
    position: fixed;
    left: 0;
    top: 25px;
    border-left: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;

    border-radius-topleft: 0;
    border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 100;
}

header {
    border-bottom: 1px solid #e5e5e5;
    padding: 25px 20px 25px 90px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    background: #fff;
    width: 100%;
    height: 101px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

#header {
    color: #606060;
}
