<div class="scanlist-header" style="display: block;">
	<div id="key-display">Key Display</div>
	<div id="status-barcode">
		<div id="scan-icon">Scan Icon</div>
		<div id="scan-text"></div>		
		<div id="scan-warn">Scan Warn</div>
	</div>
	<div id="status-text">Status: Batches Load 22:43:32</div>
	<div id="keypadButton">Keypad</div>
</div>