<div class="scanlist-header" style="display: block;">
	<div id="key-display">Key Display</div>
	<div id="status-barcode">
		<div id="scan-icon">Scan Icon</div>
		<div id="scan-text"></div>		
		<div id="scan-warn">Scan Warn</div>
	</div>
	<div id="status-text">Status: Batches Load 22:43:32</div>
	<div id="slide-panel-button">Keypad</div>
</div>

<div class="slide-panel-overlay style="display:none"></div>
<div id="slide-panel" style="display:none">
	<table id="keypad">
		<tr>
			<td><div class="keypad-key" code="1">1</div></td>
			<td><div class="keypad-key" code="2">2</div></td>
			<td><div class="keypad-key" code="3">3</div></td>
		</tr>				
		<tr>
			<td><div class="keypad-key" code="4">4</div></td>
			<td><div class="keypad-key" code="5">5</div></td>
			<td><div class="keypad-key" code="6">6</div></td>
		</tr>				
		<tr>
			<td><div class="keypad-key" code="7">7</div></td>
			<td><div class="keypad-key" code="8">8</div></td>
			<td><div class="keypad-key" code="9">9</div></td>
		</tr>				
		<tr>
			<td><div class="keypad-key" code="11"><span class="back-icon">Back</span></div></td>
			<td><div class="keypad-key" code="0">0</div></td>
			<td><div class="keypad-key" code="14"><span class="search-icon">Search</span></div></td>
		</tr>				
		<tr>
			<td colspan="3"><div class="keypad-key big" code="13">SCAN</div></td>
		</tr>				
	</table>	
	<div id="keypad-log">

		<table>
			<thead>		
				<tr>
					<th>time</th>
					<th>scan no.</th>
					<th>batch</th>
					<th class="status">status</th>
				</tr>
			</thead>
			<tbody id="scan-log"></tbody>
		</table>				
	</div>	
</div>