<div id="scan-list-machines">
	<nav>
		<ul id="scanning-stations">
		{{#each stations}}
			<li>
				<a href="?station-id={{this.ID}}#scanlist" class="station-link" machine-id="{{this.ID}}">{{this.Name}}</a>
			</li>
		{{/each}}
		</ul>
	</nav>
</div>
