<div class="main">
    <div id="inner">
        <ul>
            <li>some</li>
            <li>inner</li>
            <li>data</li>
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ul>
    </div>
    <div class="icon" id="slide">
        <img src="images/up.png" width="40" height="40">
    </div>
    <div class="clear">
        lorem<br>
        ipsum
    </div>
</div>