<div>
    <ul>
        <li><a href="#first"><img src="images/number1.jpg" width="42" height="42"></a></li>
        <li><a href="#second"><img src="images/number2.png" width="38" height="38"></a></li>
    </ul>
</div>