<div class="menubox">
    <a id="buttonNav" class="button buttonNav">Show navigation</a>
    <p>
        <img width="63" height="93" alt="Precision OneFlow" src="images/logo_oneflow.png">
    </p>
    <nav>
        <ul>
            <li class="menuDashboard">
                <a href="#first" id="menuDashboard"></a>
            </li>
            <li class="menuProduction">
                <a href="#second" id="menuProduction"></a>
            </li>
        </ul>
    </nav>
</div>