<div class="menubox">
    <a id="buttonNav" class="button buttonNav">Show navigation</a>
    <p>
        <img width="63" height="93" alt="Precision OneFlow" src="images/logo_oneflow.png">
    </p>
    <nav>
        <ul>
            <li class="menuDashboard">
                <a href="#dashboard" id="menuDashboard"></a>
            </li>
            <li class="menuProduction">
                <a href="#production" id="menuProduction"></a>
            </li>
            <li class="menuManagement">
                <a href="#management" id="menuManagement"></a>
            </li>
            <li class="menuReports">
                <a href="#reports" id="menuReports"></a>
            </li>
            <li class="menuSettings">
                <a href="#settings" id="menuSettings"></a>
            </li>
        </ul>
    </nav>
</div>